
{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
{{ dump(app.user.paniers) }}


    
<div class="container">
    <h1>Panier index</h1>

    {% set total_produit = 0 %} 
    {% for quantite in app.user.paniers %}
    {% set total_produit = total_produit + 0 %} 
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Date d'ajout</th>
                <th>Nombre</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if is_granted('ROLE_USER') %} 
            
            {% for panier in app.user.paniers %}
                    <tr>
  
                        <td>{{ panier.Produit.Nom }}</td>
                        <td>{{ panier.dateAjout.format('d/m/Y')}}</td>
                        {# <td>{{ panier.Produit.Nom }}</td> #}
                        <td>{{ panier.quantite }}</td>
                        <td>{{ panier.Produit.Prix }} €</td>
                        <td><a href="{{path('panier_delete', {'id': panier.id})}}">suprimer</a></td>
                
                        </td> 
                    </tr>
            {% else %}
                        <tr>
                            <td colspan="6">Votre panier est vide</td>
                        </tr>
            {% endfor %}

            {% else %}
                        <tr>
                            <td colspan="6">Connectez vous</td>
                        </tr>
            {% endif %}

        {% set total_panier = 0 %} 
            {% for prix in app.user.paniers %}
                {% set total_panier = total_panier + (prix.quantite * prix.produit.prix) %} 
        {% endfor %}
        <td><h3> {{total_panier}}€</h3></td>
       
        </tbody>
    </table>
</div>
{% endblock %}
