
{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
{{ dump(paniers) }}


    <h1>Panier index</h1>
<div class="container">
    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if is_granted('ROLE_USER') %} 
            
            {% for panier in paniers %}
                    <tr>
                    

                        <td>{{ panier.id }}</td>
                        <td>{{ panier.Produit.Nom }}</td>
                        <td>{{ panier.dateAjout.format('d/m/Y')}}</td>
                        {# <td>{{ panier.Produit.Nom }}</td> #}
                        <td>{{ panier.quantite }}</td>
                        <td>{{ panier.Produit.Prix }} €</td>
                        <td><a href="{{path('panier_delete', {'id': panier.id})}}">suprimer</a></td>
                
                        </td> 
                    </tr>
            {% else %}
                        <tr>
                            <td colspan="6">Votre panier est vide</td>
                        </tr>
            {% endfor %}

            {% else %}
                        <tr>
                            <td colspan="6">Connectez vous</td>
                        </tr>
            {% endif %}

       
        </tbody>
    </table>
</div>
{% endblock %}
