
{% extends 'base.html.twig' %}

 
{% block title %}Produit index{% endblock %}

{% block body %}
{{ dump(produits)}}

    
<div class="container">
    
    <h1>Produit index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.Nom }}</td>
                <td>{{ produit.Description }}</td>
                <td>{{ produit.Stock }}</td>
                <td>{{ produit.Prix }} €</td>
                {% if produit.photo is not null %}
		        <td> <img width="40px" src="{{asset('/uploads/images/'~ produit.Photo)}}"> </td>
	                {% endif %}
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('produit_new') }}">Create new</a>
        {% endif %}
    </div>
{% endblock %}
