{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    
 <div class="container">
     <h1> {{ 'pageUser.utilisateurs'|trans }} </h1>
 
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'tableauUser.email'|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'tableauUser.roles'|trans }}  </th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'tableauUser.nom'|trans }}</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>{{ 'tableauUser.prenom'|trans }}</th>
                <td>{{ user.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}"> {{ 'retour'|trans }}</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
